<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="fw-bold py-3 mb-4 text-muted fw-light col-4">
            <span> <a routerLink="/expert" href="javascript:void(0)"
                    class="btn btn-light"> <i class='bx bx-arrow-back'></i> </a>
            </span>
            Mis a Jour
        </h4>
    </div>

    <div class="col-xxl">
        <div class="card mb-4">
            <div
                class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Basic Layout</h5>
                <small class="text-muted float-end">Default label</small>
            </div>
            <div *ngIf="expert" class="card-body">
                <form (ngSubmit)="update()">

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="nom"> Nom
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nom"
                                placeholder="Fall"
                                name="nom" [(ngModel)]="expert.nom" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="prenom">
                            Prenom </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="prenom"
                                placeholder="Alimatou" name="prenom"
                                [(ngModel)]="expert.prenom" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="login">
                            Login </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="login"
                                placeholder="alimatou@yahoo.fr" name="login"
                                [(ngModel)]="expert.login" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="spec">
                            Spécalité </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="spec"
                                placeholder="Ingenieur" name="spec"
                                list="specialities"
                                [(ngModel)]="expert.specialite" />
                            <datalist id="specialities">
                                <option *ngFor="let spec of this.datalist"
                                    value="{{spec}}">
                                </datalist>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="type">
                                Type </label>
                            <div class="col-sm-10">
                                <select class="form-select form-select-lg"
                                    name="type" id="type"
                                    [(ngModel)]="expert.discriminator">
                                    <option selected> {{expert.discriminator}}
                                    </option>
                                    <option value="Etudiant"> Etudiant </option>
                                    <option value="Bibliotecaire"> Bibliotecaire
                                    </option>
                                    <option value="Expert"> Expert </option>
                                </select>
                            </div>

                        </div>

                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">
                                    Modifier </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>